/* src/GestionUsuarios.css */

.gestion-usuarios-container {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.usuarios-table th, .usuarios-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.usuarios-table th {
    background-color: #5fc63f;
}

.usuarios-table button {
    background-color: red;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.usuarios-table button:hover {
    background-color: darkred;
}